{
  "extends": [
    "airbnb",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "arrow-body-style": ["off", "as-needed"],
    "consistent-return": "off",
    "import/no-named-default": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "comments": 120
      }
    ],
    "no-console": [
      "off",
      {
        "allow": [
          "error",
          "info"
        ]
      }
    ],
    "no-nested-ternary": "off",
    "no-param-reassign": ["off", { "props": false }],
    "no-trailing-spaces": ["off", { "skipBlankLines": true }],
    "object-curly-newline": ["off", { "consistent": true }],
    "padding-line-between-statements": [
      "off",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]},
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any",    "prev": "directive", "next": "directive" }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/no-array-index-key": 0,
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/state-in-constructor": "off",
    "react/require-default-props": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/extensions": [ "error", "ignorePackages", { "js": "never", "jsx": "never", "ts": "never", "tsx": "never" } ],
  }
}